* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 550px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-family: "Big Shoulders Display";
}

.card-yellow {
  font-family: "Lexend Deca";
  font-weight: 700;
  background-color: hsl(31, 77%, 52%);
  color: white;
  height: 80%;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-green {
  font-family: "Lexend Deca";
  font-weight: 400;
  background-color: hsl(184, 100%, 22%);
  color: white;
  height: 80%;
  padding: 30px;
}
.card-dark {
  font-family: "Lexend Deca";
  font-weight: 400;
  background-color: hsl(179, 100%, 13%);
  color: white;
  height: 80%;
  padding: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 50px;
  border: none;
}
